/* Липкая шапка */
nav.navbar {
    position: sticky;
    top: 0;
    background-color: #3d7070 !important;
    z-index: 100;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
    padding-right: 25px;
}

/* Липкое меню */
.anchor-nav {
    position: sticky;
    top: 60px;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* Стили для кнопок в меню */
.anchor-nav a {
    margin-right: 10px;
}

/* Стили для правой стороны меню */
.anchor-nav .ml-auto {
    margin-left: auto;
}

/* Стили для бренда в шапке */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

/* Стили для ссылок в меню */
.nav-link {
    color: #ffffff;
}

/* Стили для ссылок в меню при наведении */
.navbar-brand:hover,
.nav-link:hover {
    color: #d6e5e5;
}

/* Стили для бокового меню */
.sidebar {
    position: fixed;
    top: 0;
    right: -330px;
    width: 330px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
}

/* Стили для активного состояния бокового меню */
.sidebar.active {
    right: 0;
}

/* Стили для меню в боковой панели */
.sidebar-menu {
    padding: 20px 0;
}

/* Стили для ссылок в меню */
.sidebar-menu a {
    display: block;
    padding: 15px 25px;
    color: #333;
    text-decoration: none;
}

/* Стили для ссылок в меню при наведении */
.sidebar-menu a:hover {
    background-color: #f8f9fa;
}

/* Стили для линии раздела */
.slider-line {
    border: 1px solid #ddd;
    margin: 0;
}

/* Затемнение фона */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

/* Стили для активного состояния затемнения фона */
.overlay.active {
    display: block;
}


.btn-primary {
    background-color: #499494;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #347070;
    color: white;
    border: none;
}

.btn-outline-primary {
    border-color: #499494;
    color: #499494;
}

.btn-outline-primary:hover {
    background-color: #499494;
    border-color: #499494;
    color: white;
}

/* Стили для неактивных кнопок */
.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
    background-color: #f8f9fa;
    border-color: #499494;
    color: #499494;
    opacity: 0.65;
}

.btn-outline-primary:disabled:hover,
.btn-outline-primary.disabled:hover {
    background-color: #f8f9fa;
    border-color: #499494;
    color: #499494;
    opacity: 0.65;
}

.btn-secondary {
    background-color: #8ab7b7;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #619292;
    color: white;
    border: none;
}

.btn-success {
    background-color: #71ad78;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #47814e;
    color: white;
    border: none;
}

.btn-warning {
    background-color: #e7b56f;
    color: white;
    border: none;
}

.btn-warning:hover {
    background-color: #e7b56f;
    color: white;
    border: none;
}

.btn-outline-warning {
    border-color: #e7b56f;
    color: #e7b56f;
}

.btn-outline-warning:hover {
    background-color: #d29f58;
    border-color: #d29f58;
    color: white;
}

.btn-danger {
    background-color: #cd6767;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #af4c4c;
    color: white;
    border: none;
}